test-report
.gradle
gradle
*.iml
.idea
target
licenses
*.zip
out
build
gradlew
gradlew.bat
/appium-seetest/src/test/resources/test.properties
/appium/src/test/resources/local.properties
/appium-seetest/src/test/resources/local.properties
